<div th:fragment="side-panel">   
    
    <div class="side-panel">

        <!-- Cirkel Diagram 1 - count - Ledig/Udlejet/skadet -------------------------------------------------------------------------- -->

        <div class="diagram-box">
            <h3>Lageroversigt i antal biler</h3>

            <div class="circle-diagram"
                th:style="'background: conic-gradient(' +
                '#4caf50 0% ' + ${ledigPctCount} + '%, ' +
                '#ff9800 0% ' + ${udlejetPctCount} + '%, ' +
                '#f44336 0% 100%)'">
            </div>

            <div class="diagram-status-box">
                <p><span class="status-box-farve ledig"></span> Ledig:<span th:text="${ledigCount}"></span> biler</p>
                <p><span class="status-box-farve udlejet"></span> Udlejet:<span th:text="${udlejetCount}"></span> biler</p>
                <p><span class="status-box-farve skadet"></span> Skadet:<span th:text="${skadetCount}"></span> biler</p>
            </div>

            
        </div>

        <!-- Cirkel Diagram 2 - Prices i stedet for count ----------------------------------------------------------------------------- -->

        <div class="diagram-box">
            <h3>Pris for bil status</h3>

            <div class="circle-diagram"
                 th:style="'background: conic-gradient(' +
                '#4caf50 0% ' + ${ledigPctPrice} + '%, ' +
                '#ff9800 0% ' + ${udlejetPctPrice} + '%, ' +
                '#f44336 0% 100%)'">
            </div>

            <div class="diagram-status-box">
                <p><span class="status-box-farve ledig"></span> Ledig:<span th:text="${ledigPrice}"></span> kr</p>
                <p><span class="status-box-farve udlejet"></span> Udlejet:<span th:text="${udlejetPrice}"></span> kr</p>
                <p><span class="status-box-farve skadet"></span> Skadet:<span th:text="${skadetPrice}"></span> kr</p>
            </div>

        </div>
    </div>
</div>
