<!-- Ansvarlig: Malik -->

<div th:fragment="side-panel">   <!-- Thymeleaf fragment som bruges til dashboardets sidepanel -->
    
    <div class="side-panel">    <!-- Container for dashboardets statistik og diagrammer -->

        <!-- Cirkel Diagram 1 - count - Ledig/Udlejet/skadet -------------------------------------------------------------------------- -->

        <div class="diagram-box">   <!-- Wrapper til diagrammerne og dens statistik under diagrammet (samme er brugt til begge diagrammer da de skal have ens layout)-->
            <h3>Lageroversigt i antal biler</h3>    <!-- Overskrift for diagram baseret på antal biler -->

            <!-- Dynamisk cirkeldiagram genereret med CSS conic-gradient -->
            <!-- Thymeleaf indsætter procentværdier fra backend direkte i CSS (ledigPctCount og udlejetPctCount)-->
            <!-- Grøn farve repræsenterer ledige biler -->
            <!-- Orange farve repræsenterer udlejede biler -->
            <!-- Rød farve repræsenterer skadede biler -->
            <div class="circle-diagram"     
                th:style="'background: conic-gradient(' +
                '#4caf50 0% ' + ${ledigPctCount} + '%, ' +
                '#ff9800 0% ' + ${udlejetPctCount} + '%, ' +
                '#f44336 0% 100%)'">
            </div>

            <div class="diagram-status-box">    <!-- Viser forklaring til diagrammets farver og antal taget fra backend (ledigCount, udlejetCount, skadetCount) -->
                <p><span class="status-box-farve ledig"></span> Ledig:<span th:text="${ledigCount}"></span> biler</p>
                <p><span class="status-box-farve udlejet"></span> Udlejet:<span th:text="${udlejetCount}"></span> biler</p>
                <p><span class="status-box-farve skadet"></span> Skadet:<span th:text="${skadetCount}"></span> biler</p>
            </div>

            
        </div>

        <!-- Cirkel Diagram 2 - Prices i stedet for count ----------------------------------------------------------------------------- -->
        <!-- Ansvarlig: Søren -->
        <div class="diagram-box">   <!-- Wrapper til diagrammerne og dens statistik under diagrammet -->
            <h3>Pris for bil status</h3>

            <!-- Dynamisk cirkeldiagram genereret med CSS conic-gradient -->
            <!-- Thymeleaf indsætter procentværdier fra backend direkte i CSS (ledigPctPrice og udlejetPctPrice)-->
            <!-- Grøn farve repræsenterer ledige biler -->
            <!-- Orange farve repræsenterer udlejede biler -->
            <!-- Rød farve repræsenterer skadede biler -->
            <div class="circle-diagram"
                 th:style="'background: conic-gradient(' +
                '#4caf50 0% ' + ${ledigPctPrice} + '%, ' +
                '#ff9800 0% ' + ${udlejetPctPrice} + '%, ' +
                '#f44336 0% 100%)'">
            </div>

            <div class="diagram-status-box">    <!-- Viser forklaring til diagrammets farver og antal taget fra backend (ledigPrice, udlejetPrice, skadetPrice) -->
                <p><span class="status-box-farve ledig"></span> Ledig:<span th:text="${ledigPrice}"></span> kr</p>
                <p><span class="status-box-farve udlejet"></span> Udlejet:<span th:text="${udlejetPrice}"></span> kr</p>
                <p><span class="status-box-farve skadet"></span> Skadet:<span th:text="${skadetPrice}"></span> kr</p>
            </div>

        </div>
    </div>
</div>
