<div th:fragment="Car-overview">       

    <div class="Car-overview">


        <form method="get" action="/" class="filter-box">

            <input type="text"
                   name="brand"
                   placeholder="Mærke">

            <select name="status">
                <option value="">Alle</option>
                <option value="ledig">Ledig</option>
                <option value="skadet">Skadet</option>
                <option value="udlejet">Udlejet</option>
            </select>

            <button type="submit">Filter</button>
        </form>


        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Pris</th>
                <th>Brændstof</th>
                <th>Km/L</th>
                <th>Status</th>
                <th>Handlinger</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="car : ${carsFiltered}">
                <td th:text="${car.carId}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.fuelType}"></td>
                <td th:text="${car.mileage}"></td>
                <td th:text="${car.status}"></td>

                <td class="action-buttons">
                    <button class="edit-button">Rediger</button>
                    <button class="report-button">Skaderapport</button>


                    <form th:action="@{/deleteCar}" method="post" style="display:inline;">
                    <input type="hidden" name="carId" th:value="${car.carId}">
                    <button type="submit" class="delete-button">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    
</div>