<!-- Ansvarlig: Søren -->

<div th:fragment="Lease-overview">  <!-- Thymeleaf fragment som viser oversigt over leasingaftaler -->

        <div class="Car-overview">  <!-- Genbruger samme layout/styling som biloversigten -->


            <form method="get" action="/" class="filter-box">   <!-- Formular til filtrering af leasingaftaler baseret på bilens ID (vognnummer) -->

                <input type="number"
                       name="carId"
                       placeholder="Vognnummer">

                <button type="submit">Filter</button>
            </form>

            <!-- Tabel som viser leasingaftaler hentet fra databasen -->
        <table>
            <thead>
            <tr>
                <th>Lejeaftale nr</th>
                <th>Bil</th>
                <th>Kunde</th>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Opsamlings sted</th>
                <th>Afleverings sted</th>
                <th>Handlinger</th>
            </tr>
            </thead>
            <!-- Dynamisk genererede rækker med leasingaftaler (data hentet fra backend med thymeleaf)-->
            <tbody>
            <tr th:each="lease : ${leasesFiltered}">    <!-- (th:each) Thymeleaf loop som genererer en række i tabellen for hver leasingaftale -->
                <td th:text="${lease.leaseId}"></td>
                <td th:text="${lease.carId}"></td>
                <td th:text="${lease.customerId}"></td>
                <td th:text="${lease.pickupDate}"></td>
                <td th:text="${lease.turnInDate}"></td>
                <td th:text="${lease.pickupLocation}"></td>
                <td th:text="${lease.turnInLocation}"></td>

                <td class="action-buttons">
                    <button class="edit-button">Rediger</button>
                    <button class="report-button">Skaderapport</button>


                    <form th:action="@{/deleteLease}" method="post" style="display:inline;">
                        <input type="hidden" name="leaseId" th:value="${lease.leaseId}">
                        <button type="submit" class="delete-button">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>