<div th:fragment="damagePopup">

    <div th:if="${showDamagePopup}" class="popup-overlay">

        <div class="dmg-popup-container">

            <h1>Skaderapport</h1>

            <form action="/saveDamageReport" method="post">
                
                <div class="dmg-select-group">
                    <label>Vælg Bil</label>

                    <select name="vBil">
                        <option
                                th:each="car : ${cars}"
                                th:value="${car.carId}"
                                th:text="${car.carId}"> <!--Kan ændres til bil mærke/model eller whatever-->
                        </option>
                    </select>
                </div>

                <div class="dmg-rapport-content">

                    <div class="dmg-left">
                        <label>Beskriv Skader</label>
                        <textarea name="description" placeholder="Beskrivelse..."></textarea>
                    </div>

                    <div class="dmg-rapport-right">
                        <div class="dmg-form-group">
                            <label>Pris</label>
                            <input type="number" name="price">
                        </div>

                        <div class="dmg-form-group">
                            <label>Status</label>

                            <select name="status">
                                <option value="Udbedret">Udbedret</option>
                                <option value="Under udbedring">Under udbedring</option>
                                <option value="Ikke indberettet">Ikke indberettet</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="button-group">
                    <button type="submit" class="save-btn">
                        Opret </button>

                    <a th:href="@{/}" class="cancel-btn">
                        Annuller
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>