<div th:fragment="leasePopup">

    <div th:if="${showLeasePopup}" class="popup-overlay">

        <div class="popup-container">
            <h1>Registrer ny lejeaftale</h1>

            <p th:if="${error}" th:text="${error}" style="color: red;"></p>

            <form action="/register_lease" method="post">

                <div class="form-group">
                    <label>Kundenavn</label>
                    <select id="customerId" name="customerIdAsString">
                        <option value=-1>-</option>
                        <option
                                th:each="customer : ${customers}"
                                th:value="${customer.customerId}"
                                th:text="${customer.customerName}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Vognnummer</label>
                    <select id="carId" name="carIdAsString">
                        <option value=-1>-</option>
                        <option
                                th:each="car : ${availableCars}"
                                th:value="${car.carId}"
                                th:text="'Vogn ' +${car.carId}+': ' +${car.brand}+ ' ' +${car.model}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="pickUpDate">Startdato</label>
                    <input type="date" id="pickUpDate" name="pickUpDate">
                </div>

                <div class="form-group">
                    <label for="turnInDate">Slutdato</label>
                    <input type="date" id="turnInDate" name="turnInDate">
                </div>

                <div class="form-group">
                    <label for="pickUpLocation">Opsamlings sted</label>
                    <input type="text" id="pickUpLocation" name="pickUpLocation">
                </div>

                <div class="form-group">
                    <label for="turnInLocation">Afleverings sted</label>
                    <input type="text" id="turnInLocation" name="turnInLocation">
                </div>

                <div class="button-group">
                    <button type="submit" class="save-btn">Opret lejeaftale</button>
                    <a th:href="@{/}" class="cancel-btn">Annuller</a>
                </div>
            </form>
        </div>
    </div>
</div>