<div th:fragment="registerCarPopup">  
    
    <div th:if="${showPopup}" class="popup-overlay">    <!-- Popup vises kun hvis showPopup=true sendes fra controlleren -->

        <div class="popup-container">

            <h1>Registrer Bil</h1>

            <form action="/saveCar" method="post">  <!-- Sender data til backend for at oprette en ny bil -->

                <div class="form-group">    <!-- Wrapper som grupperer label og input for ens layout, også  brugt i de andre popup vinduer for ens layout(register_customer.html og register_lease.html) -->
                    <label>Mærke</label>
                    <input type="text" name="brand">
                </div>

                <div class="form-group">
                    <label>Model</label>
                    <input type="text" name="model">
                </div>

                <div class="form-group">
                    <label>Pris</label>
                    <input type="number" name="price">
                </div>

                <div class="form-group">
                    <label>Brændstof</label>
                    <input type="text" name="fuelType">
                </div>

                <div class="form-group">
                    <label>Km/l</label>
                    <input type="number" step="0.1" name="mileage">
                </div>

                <div class="form-group">
                    <label>Status</label>

                    <select name="status">
                        <option value="Ledig">Ledig</option>
                        <option value="Udlejet">Udlejet</option>
                        <option value="Skadet">Skadet</option>
                    </select>
                </div>

                <div class="button-group">
                    <button type="submit" class="save-btn">Opret Bil</button>   <!-- Lukker popup-vinduet ved at navigere tilbage til forsiden -->
                    <a th:href="@{/}" class="cancel-btn">Annuller</a>
                </div>

            </form>

        </div>

    </div>
    
</div>  