
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#e9e9e9;
    padding-top:100px;
}

/* Navigation------------------------------------------- */

header nav ul{
    list-style:none;
    display:flex;
    align-items:center;

    position:fixed;
    top:0;
    width:100%;

    background:#696969;

    z-index:1000;
}

header nav ul li a{
    display:block;
    padding:30px 35px;

    color:white;
    text-decoration:none;
    font-size:24px;

    transition:0.2s;
}

header nav ul li a:hover{
    background:rgba(255,255,255,0.2);
}

.logout{
    margin-left:auto;
}



/* Sægefilter------------------------------------------- */

.filter-box{
    display:flex;
    gap:10px;

    margin-bottom:20px;
}

.filter-box input,.filter-box select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

.filter-box button{
    background:#696969;
    color:white;
    border:none;

    padding:10px 18px;
    border-radius:6px;

    cursor:pointer;
}

.filter-box button:hover{
    background:#acabab;
}

/* Bil Tabel--------------------------------------------- */

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#696969;
    color:white;
}

th, td{
    padding:14px;
    text-align:left;
}

tbody tr{
    border-bottom:1px solid #ddd;
}

tbody tr:hover{
    background:#f5f5f5;
}

/* Tabel buttons------------------------------------ */

.action-buttons{
    display:flex;
    gap:8px;
}

.edit-button{
    background:#d9d9d9;
}

.report-button{
    background:#d9d9d9;
}

.edit-button:hover,.report-button:hover{
    background:#777;
}


.delete-button{
    background:#ff2d6f;
}

.delete-button:hover{
    background:#9e1d46;
}

.action-buttons button,
.action-buttons a{
    border:none;
    padding:8px 12px;
    border-radius:20px;

    cursor:pointer;
    font-size:12px;

    text-decoration:none;
    color:black;

    display:inline-block;
}

/* Dashboard layout---------------------------------------- */
/* Main kasse---------------------------------------- */

.dashboard-container{
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap:30px;

    padding:30px;
}

/* Kasse højreside------------------------------------ */

.Car-overview{
    background:white;
    padding:25px;
    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* Kasser venstreside------------------------------------ */

.side-panel{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.diagram-box{
    background:white;
    padding:20px;

    border-radius:12px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);

    min-height:300px;
}

.diagram-box h3{
    margin-bottom:20px;
}

/* Cirkeldiagram----------------------------------- */

.circle-diagram{
    width:220px;
    height:220px;

    background:#69c3d8;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;
}

/* Cirkeldiagram (status box)----------------------------------- */

.diagram-status-box {
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.diagram-status-box p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.status-box-farve {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 3px;
}

.status-box-farve.ledig {
    background-color: #4caf50;
}

.status-box-farve.udlejet {
    background-color: #ff9800;
}

.status-box-farve.skadet {
    background-color: #f44336;
}

/* Registrer ny bil popup-------------------------------------- */

.popup-overlay{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,0.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.popup-container{
    width:650px;

    background:#e8e8e8;

    padding:40px;

    border-radius:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.popup-container h1{
    text-align:center;
    margin-bottom:35px;
    color:#000;
}

.form-group{
    display:grid;
    grid-template-columns:150px 1fr;

    align-items:center;

    margin-bottom:20px;
}

.form-group label{
    font-size:22px;
    font-weight:bold;
}

.form-group input,
.form-group select{
    padding:12px;

    border:1px solid #999;
    border-radius:4px;

    font-size:16px;
}

/* Popup buttons -nyBil-skaderapport-nyKunde-nyLejeaftale------------------------------------ */

.button-group{
    display:flex;
    justify-content:center;
    gap:20px;

    margin-top:30px;
}

.save-btn{
    background:#999;
    color:white;

    border:none;

    padding:14px 28px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}

.save-btn:hover{
    background:#777;
}

.cancel-btn{
    background:#999;
    color:white;

    padding:14px 28px;

    border-radius:10px;

    text-decoration:none;
}

.cancel-btn:hover{
    background:#777;
}

/* Skaderapport popup ------------------------------------- */

.dmg-popup-container{
    width:700px;

    background:#dcdcdc;

    padding:35px;

    border-radius:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.dmg-popup-container h1{
    text-align:center;
    margin-bottom:30px;
}

/* vælg bil------------------------------------------------- */
.dmg-select-group{
    margin-bottom:25px;
}

.dmg-select-group label{
    display:block;
    font-size:22px;
    font-weight:bold;
    margin-bottom:10px;
}

.dmg-select-group select{
    width:100%;
    padding:12px;

    font-size:18px;

    border:1px solid #888;
    border-radius:6px;

    background:white;
}

.dmg-rapport-content{
    display:flex;
    gap:25px;
}

/* Venstre side popup vinduet---------------------------------------- */

.dmg-left{
    flex:1;
}

.dmg-left label{
    display:block;
    font-size:22px;
    font-weight:bold;
    margin-bottom:10px;
}

.dmg-left textarea{
    width:100%;
    height:220px;

    resize:none;

    padding:15px;

    border:1px solid #999;
    border-radius:6px;

    font-size:16px;
}

/* højre side popup vinduet---------------------------------------- */
.dmg-rapport-right{
    width:150px;

    margin-top:45px;
    display:flex;
    flex-direction:column;
    gap:25px;

    justify-content:flex-start;
    align-items:center;
}








