<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<!--
Dette er vores main page på hjemmesiden og den eneste side
Thymeleaf samler de forskellige HTML fragment filer og genererer en samlet HTML fil, som bliver sendt til browseren
Ved at bruge nogle simple if statements kan vi vælge at loade andre fragments ind over hovedsiden.
If statements bliver kontrolleret i controller klasserne
-->

<div th:replace="fragments/header :: navbar"></div>


<div class="dashboard-container">

    <!-- Bil liste ----------------------------------------------------------------------------- -->

    <div th:replace="fragments/car_list :: Car-overview"></div>

    <!-- Cirkel diagram----------------------------------------------------------------------------- -->

    <div th:replace="fragments/c_diagram :: side-panel"></div>


    <div th:replace="fragments/lease_list :: Lease-overview"></div>
</div>


<!-- Registrer ny bil popup----------------------------------------------------------------------------- -->
<div th:replace="fragments/register_car :: registerCarPopup"></div>

<!-- Skaderapport popup ------------------------------------------------ -->
<div th:replace="fragments/register_damage :: damagePopup"></div>

<!-- CreateCustomer popup ------------------------------------------------ -->
<div th:replace="fragments/register_customer :: customerPopup"></div>

<!-- CreateCustomer popup ------------------------------------------------ -->
<div th:replace="fragments/register_lease :: leasePopup"></div>

</body>

</html>