<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<header>
    <nav>
        <ul>
            <li style="margin-left: auto"><a href="Logout.html" class="active">Logout</a></li>
        </ul>
    </nav>
</header>

<div>
    <div th:each="car : ${cars}">
        <p th:text="${car.brand}"></p>
        <p th:text="${car.model}"></p>
        <p th:text="${car.price}"></p>
        <p th:text="${car.fuelType}"></p>
    </div>
</div>

<footer>

</footer>
</body>

</html>