<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header>
    <nav>
        <ul>
            <li><a th:href="@{/register_car}">Registrer ny bil</a></li>
            <li><a th:href="@{/damage_report}">Skadesrapport</a></li>
            <li><a th:href="@{/register_lease}">Ny lejeaftale</a></li>
            <li class="logout"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>


<div class="dashboard-container">

<! Bil liste ----------------------------------------------------------------------------- >

    <div class="Car-overview">


        <form method="get" action="/carFilter" class="filter-box">

            <input type="text"
                   name="brand"
                   placeholder="Mærke">

            <select name="status">
                <option value="">Alle</option>
                <option value="ledig">Ledig</option>
                <option value="skadet">Skadet</option>
                <option value="udlejet">Udlejet</option>
            </select>

            <button type="submit">Filter</button>
        </form>


        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Pris</th>
                <th>Brændstof</th>
                <th>Km/L</th>
                <th>Status</th>
                <th>Handlinger</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.carId}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.fuelType}"></td>
                <td th:text="${car.mileage}"></td>
                <td th:text="${car.status}"></td>

                <td class="action-buttons">
                    <button class="edit-button">Rediger</button>
                    <button class="report-button">Skaderapport</button>
                    <button class="delete-button">Slet</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

<! DIAGRAMMER----------------------------------------------------------------------------- >
    <div class="side-panel">

        <div class="diagram-box">
            <h3>Lageroversigt</h3>

            <div class="circle-diagram">

            </div>
        </div>

        <div class="diagram-box">
            <h3>Graf 2</h3>

            <div class="bar-chart">

            </div>
        </div>

    </div>

</div>

</body>
</html>