<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ny lejeaftale</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="popup-container">
    <h1>Registrer ny lejeaftale</h1>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form action="/register_lease" method="post">

        <div class="form-group">
            <label>Kundenavn</label>
            <select id="customerId" name="customerId">
                <option value=-1>-</option>
                <option
                        th:each="customer : ${customers}"
                        th:value="${customer.customerId}"
                        th:text="${customer.customerName}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Vognnummer</label>
            <select id="carId" name="carId">
                <option value=-1>-</option>
                <option
                        th:each="car : ${cars}"
                        th:value="${car.carId}"
                        th:text="${car.carId}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="pickUpDate">Startdato</label>
            <input type="date" id="pickUpDate" name="pickUpDate">
        </div>

        <div class="form-group">
            <label for="turnInDate">Slutdato</label>
            <input type="date" id="turnInDate" name="turnInDate">
        </div>

        <div class="form-group">
            <label for="pickUpLocation">Opsamlings sted</label>
            <input type="text" id="pickUpLocation" name="pickUpLocation">
        </div>

        <div class="form-group">
            <label for="turnInLocation">Afleverings sted</label>
            <input type="text" id="turnInLocation" name="turnInLocation">
        </div>

        <div class="button-group">
            <button type="submit">Opret lejeaftale</button>
        </div>
    </form>
</div>

</body>
</html>